header {
    padding: 5px;
    background-color: #e4e4f0;
    opacity: 0.8;
    background-image: radial-gradient(circle at center center, #444cf7, #d50000 ), repeating-radial-gradient(circle at center center, #444cf7, #444cf7, 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 25px;
    color:aliceblue;
}

body {
    background-color: black;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

header nav ul li a {
   font-size: 25px;
   text-decoration: none;
   font-family:'Courier New', Courier, monospace;
   font-weight: bold;
   color: whitesmoke;
}

header nav ul li {
    display: inline;
    font-size: 50px;
}

/*ABOUT SAVANNAH TEXT */
#about-me h2 {
font-size: 30px;
padding-left: 40px;
padding-bottom: 0px;
background-color:#151fe0 ;
width: 150px;
justify-content: left;
color:whitesmoke;
font-weight: lighter;
}

/*MY PIC*/

#about-me img {
  float:left;
}   

/* ABOUT ME PARAGRAPH */
P  {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: lighter;
    
    
}

/* PREVIOUS PROJECTS*/

#work h2 {
    font-size: 50px;
    color:white;
    padding-left: 200px;
    background-color:#151fe0;
    width: 205px;
}

#Comics-Demo h2 {
    font-size: 25px;
    color:white;
    width: 300px;
    padding-left: 50px;
    background-color: #151fe0;
    margin-left: 20px;
}

/*CC IMAGE FOR DEMO */
#Comics-Demo img {
    padding-left: 70px;
    box-sizing:content-box;
    padding-top: 5px;   
}

/* PLACE HOLDER IMAGES NOT TEXT*/
#placeholders img {
    padding-left: 400px;
    
}

#placeholders h4 {
    padding-left: 400px;
    color:white;
}

.box1 {
    background-color: black;
}

.box2 {
    background-color: #0022fa;
    opacity: 0.8;
    background-image:  linear-gradient(30deg, #ef0615 12%, transparent 12.5%, transparent 87%, #ef0615 87.5%, #ef0615), linear-gradient(150deg, #ef0615 12%, transparent 12.5%, transparent 87%, #ef0615 87.5%, #ef0615), linear-gradient(30deg, #ef0615 12%, transparent 12.5%, transparent 87%, #ef0615 87.5%, #ef0615), linear-gradient(150deg, #ef0615 12%, transparent 12.5%, transparent 87%, #ef0615 87.5%, #ef0615), linear-gradient(60deg, #ef061577 25%, transparent 25.5%, transparent 75%, #ef061577 75%, #ef061577), linear-gradient(60deg, #ef061577 25%, transparent 25.5%, transparent 75%, #ef061577 75%, #ef061577);
    background-size: 20px 35px;
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
    width: 5px;
    height: 900px;
    padding-left: 100px;
    margin-left: 100px;
}