header {
    padding: 5px;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(circle at center center, #444cf7, #e5e5f7), repeating-radial-gradient(circle at center center, #444cf7, #444cf7, 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 25px;
    color:aliceblue;
}



header nav ul li a {
   font-size: 20px;
   text-decoration: none;
   font-family:'Courier New', Courier, monospace;
   font-weight: bold;
   color: whitesmoke;
}

header nav ul li {
    display: inline;
    font-size: 50px;
}

/*ABOUT SAVANNAH TEXT */
#about-me {
font-size: 30;
}

/*MY PIC*/

#about-me img {
    padding-left: 100px;
}

/* ABOUT ME PARAGRAPH */
p {
    font-family: fantasy;
}

/* PREVIOUS PROJECTS*/

#work h2 {
    text-align: center;
}

/*Comics and cocktails*/
#work h3 {
    text-align: center;
}

